* {
    box-sizing: border-box;
  }
body {
    overflow: hidden;
    margin: 0 auto;
    background: url(./assets/img/background-.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-position: center top;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin: 10% auto; */
    /* width: 70%; */
    width: 100vw;
    height: 90vh;
}
.slider {
    order: 1;
    background-color: aqua;
    height: inherit;
    overflow: hidden;
    width: inherit;
    box-shadow: 0 0 5% rgba(0, 0, 0, 0.4);
}
.controls {
    order: 2;
}
.slider-titles {
    width: 20vw;
}
.prom-wrapper {
    margin-top: 3%;
    width: 100vw;
    order: 5;
    display: flex;
    justify-content: space-around;
}
.input-panel > input {
    display: none;
}
.slide {
    height: inherit;
    width: inherit;
}
.slide-one {
    background: url(./assets/img/mem1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 72vh;
}
.slide-two {
    background: url(./assets/img/mem2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 72vh;
}
.slide-three {
    background: url(./assets/img/mem3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 72vh;
}
.slide-four {
    background: url(./assets/img/mem4.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 72vh;
}
.controls {
    display: flex;
    gap: 1vw;
}

.controls label:hover, 
#first-slide:checked ~ .controls label:nth-of-type(1),
#second-slide:checked ~ .controls label:nth-of-type(2),
#third-slide:checked ~ .controls label:nth-of-type(3),
#fourth-slide:checked ~ .controls label:nth-of-type(4) {
    background: #ddd;
}

.controls label {
    cursor: pointer;
    border: 0.2em solid #ddd;
    margin-top: 2em;
    margin-left: -0.2em;
	display: block;
	height: 4vh;
	width: 2vw;
    transition: background ease-in-out .5s;
	border-radius: 50%;
}

/* .controls label:checked {
    background: black;
} */

.slide {
    width: inherit;
    height: inherit;
    opacity: 0;
    z-index: 0;
    transform: scale(1.5);
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#first-slide:checked ~ .slider > .slide-one,
#second-slide:checked ~ .slider > .slide-two,
#third-slide:checked ~ .slider > .slide-three,
#fourth-slide:checked ~ .slider > .slide-four {
	opacity: 1;
	z-index: 1;
	transform: scale(1);
}